  
<h3>マイページ</h3>

<p><%= @user.name %></p>
<p><%= @user.email %></p>

<% if @user.image.attached? %>
  <%= image_tag @user.image %>
<% end %>

<%= link_to '♡お気に入り', user_registration_path %> |
<%= link_to "プロフィール編集", edit_user_registration_path %>