<%= form_with model: Post.new do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :タイトル %><br>
    <%= form.text_area :title %>
  </div>
  <div class="field">
    <%= form.label :コンテンツ %><br>
    <%= form.text_area :content %>
  </div>
  <div class="field">
    <%= form.label :画像 %><br>
    <%= form.file_field :image, accept: '.jpeg, .jpg, png' %>
  </div>
  <div class="field">
    <%= form.label "ラベル" %>
    <%= form.collection_check_boxes :label_ids, Label.all, :id, :name %>
  </div>
  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %> 