<div class="container">
<strong>フード投稿詳細</strong>
  <p id="notice"><%= notice %></p>
  <div class="post-text">
    <p><strong>タイトル:</strong> : <%= @post.title %></p>
    <p><strong>内容:</strong> : <%= @post.content %></p>
    <p>
    <strong>画像:</strong>
    <% if @post.image.attached? %>
    <%= image_tag @post.image %>
    <% end %>
    </p>
  </div>

  <% unless @post.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'Remove from favorite', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to '♡お気に入り', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>

   <div class="container">
    <p id="notice"><%= notice %></p>
    </div>
    <div id="comments_area">
    <p class = 'btn-border-bottom'><p>コメント一覧</p>
      <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
  </div>

  <%= link_to 'ホーム', posts_path, class: 'btn btn-primary mx-auto d-block col-md-3' %> 

</div>
