<div class="container">
<strong>フード投稿詳細</strong>
  <p id="notice"><%= notice %></p>

  <table border="1">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>画像</th>
        <th>ラベル</th>
        <th>投稿者</th>
        
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @post.title %></td>
          <td><%= @post.content %></td>
          <td>
            <% if @post.image.attached? %>
              <%= image_tag (@post.image), height: '300' %> 
            <% end %>
          </td>
          <td><% @post.labels.each do |label| %>
              <%= label.name %>
            <% end %></td>
          <td><%= link_to @post.user.name, user_path(@post.user.id) %></td>
          <% if @post.user == current_user %>
            <td><%= link_to '編集', edit_post_path(@post) %></td>
            <td><%= link_to '削除', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
          <% end %> 
        </tr>
      </tbody>
  </table><br>
    



  <% unless @post.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入りを解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to '♡お気に入り', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>

   <div class="container">
    <p id="notice"><%= notice %></p>
    </div>
    <div id="comments_area">
    <p class = 'btn-border-bottom'><p>コメント一覧</p>
      <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
  <%= link_to '戻る', posts_path %>
  </div>
</div>

